<!DOCTYPE html>
<html>
    <head>
    <title>Log in confirmation</title>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; img-src data: 'self'; style-src 'unsafe-inline' 'self' report-uri './cspreport'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' report-uri './cspreport'">
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
    <link rel="manifest" href="./manifest.json">
    <link rel="stylesheet" href="css/bootstrap-3.4.1.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="js/handlebars-v4.1.2.js"></script>
    <script src="js/localforage.min-1.7.3.js"></script>
    <script src="js/morphdom-2.5.4.js"></script>
    <script src="js/html5-qrcode.2.3.4.min.js"></script>
    <!--
    -->
<script type="text/x-handlebars-template" id="screen_scan">
    {{#if installOnHomescreen}}<a href="#" onclick="javascript:installOnHomescreen();">Install to home screen</a>{{/if}}
    <div>
Scan the login code to log in as {{ state.current_config.username }}
    </div>
    <div style="width: 500px" id="reader"></div>
</script>
<script type="text/x-handlebars-template" id="screen_config">
    <ul>
    {{#each current_config.locations}}<li><span>{{forecast.0.description}}</span><button onclick="javascript:remove_location({{@index}})">x</button></li>{{/each}}
    </ul>
    <label for="input-locations">Location:</label></label><input id="input-locations" type="text" list="locations">
    <button onclick="javascript:add_location('input-locations');">Add</button>
    <hr />
    <button onclick="javascript:action_config_save();">Save</button><button onclick="javascript:action_config_cancel()">Cancel</button>
    <datalist id="locations">
        {{#each current_config.forecast_locations}}<option data-value="lat/long {{position}}">{{description}}</option>{{/each}}
    </datalist>
</script>
<script type="text/x-handlebars-template" id="screen_about">
    <h1>PWA two-factor login</h1>
    <h2>About this app</h2>
    <p>This app allows you to scan a QR code instead of entering username/password.</p>
    <iframe frameborder="0" src="changes.html" width="100%"
        onload="this.style.height = this.contentWindow.document.documentElement.scrollHeight + 'px';" >Loading version information
    </iframe>
    <details>
        <summary><h2>License</h2></summary>
        This program is distributed under the Artistic License.
    </details>
    <details>
        <summary><h2>Repository</h2></summary>
        The source code for this program is available at <a href="https://github.com/Corion/PWA-QRLogin">https://github.com/Corion/PWA-QRLogin</a>.
    </details>
    <details>
</script>
<script>
    var default_state = {
        state_schema: '20230101-01',

        current_config: {
            // password / TOTP seed code
            // XXX
            username: "demo",
            password: "demo",
            camera_id: undefined
        },
        state_install_prompt: "not_asked",
        screen: "screen_scan"
    };
    var state;

    function setItemAt(state,path,value) {
        let items = path.split( /\./ );
        let val = state;
        for( let pos = 0; pos < items.length-1; pos++ ) {
            val = val[items[pos]];
        };
        val[items[items.length-1]] = value;
        return value
    };

    function store_value(state,new_value, path, position) {
        path = path.replace('%d',position);
        setItemAt(state,path,new_value);
    };

    function loadConfig() {
        return localforage.getItem("config")
    };

    function storeConfig(config) {
        //var blob = new Blob([image]);
        //var imageURI = window.URL.createObjectURL(blob);
        return localforage.setItem("config", config, () => {
            // console.log("Stored config")
        })
    };

    function action_config_save() {
        //state.locations = state.current_config.locations.slice();
        //state.delay     = state.current_config.delay;
        storeConfig(state);
        render_scan(state);
    };

    function action_config_cancel() {
        render_scan(state);
    }

    function morph(DOM,html,options) {
        // Clean up the HTML so that morphdom understands what we want it to do
        html = html.replace(/^\s+/,'');
        html = html.replace(/^<!--.*?-->\s*/m,'');
        // console.log(html);
        morphdom(DOM, html, options);
    };

    function render_screen(screen_name,state) {
        let source   = document.getElementById(screen_name).innerHTML;
        if( ! source ) {
            alert("No screen '"+screen_name+"' found");
        };

        // Update the current time slot to use in the state
        let now = new Date().getHours();
        let current_slot = Math.trunc((now+3) / 6);
        //for(let i = 0; i < state.locations.length; i++) {
        //    state.locations[i].current_slot = state.locations[i].forecast[current_slot];
        //};

        let template = Handlebars.compile(source);
        let s = template(state);
        s = '<div id="screen">' + s + '</div>';
        morph(
            window.document.getElementById('screen'),
            s, {});

        var html5QrcodeScanner = new Html5QrcodeScanner(
            "reader", { fps: 10, qrbox: 250 });
            html5QrcodeScanner.render(onScanSuccess);

    };
    function render_scan(state) {
        state.screen = 'screen_scan';
        update(state);
    };
    function render_config(state) {
        state.screen = 'screen_config';

        state.current_config = {
            username: "<%= $username %>",
            // username: <%= $username %>
        };

        update(state);
    };
    function render_about(state) {
        state.screen = 'screen_about';
        update(state);
    };

    function update(state) {
        // Maybe we want to use window.requestAnimationFrame to do the
        // repainting in an idle way
        // if(! queued_repaint) {
        //     queued_repaint = window.requestAnimationFrame(timestamp => {
        //         render_screen(state.screen, state)
        //     })
        //  }
        //
        render_screen(state.screen, state);
    }

    // We also want
    // function data_updated(state) {
    // to mark the current display as potentially dirty without even queueing
    // a repaint?! Or do we simply always repaint?!

    function loadForecastCache() {
        return localforage.getItem("forecast-cache").then(result => {
            return result
        }).catch( () => {
            console.log("Error retrieving cache?!")
        });
    }

    function handle_visibility_change() {
        //console.log("Focus change", document.visibilityState);
        if( document.visibilityState === 'visible' ) {
            //console.log("We got the focus again");
            // User just switched to us, maybe we can fetch an update
            //if( forecast_information_stale(state)) {
            //    schedule_weather_update();
            //}
        }
    }

/* Launch our service worker as cache */
if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
        //navigator.serviceWorker.register('sw.js')
        //.then(registration => {
        //    // console.log('Service Worker is registered', registration);
        //    return registration.update();
        //}).then( registration => {
        //    // console.log('Background service updated', registration);
        //    if(registration.sync) { /* we can fetch forecasts in the background */
        //        /* Our service worker will now get the "update-forecast" event */
        //        console.log('Background forecast updates enabled');
        //        // Note that we _can_ schedule background updates
        //        // then, in schedule_update(), check that and use it instead
        //        // of manually fetching
        //        // registration.sync.register('update-forecast')
        //        // .catch(function(err) {
        //        //     return err;
        //        // });
        //    };
        //})
        //.catch(err => {
        //    console.error('Registration failed:', err);
        //});
    });

    //navigator.serviceWorker.addEventListener('message', event => {
    //    console.log(event.data.msg, event.data.url);
    //    if( event.data.msg == 'repaint' ) {
    //        // The service worker received fresh data and wants us to update
    //        // This should maybe be(come) screen != config
    //        if(state.screen == 'screen_scan') {
    //            render_scan(state);
    //        }
    //    };
    //});
};

let response;

function onScanSuccess(decodedText, decodedResult) {
    // Handle on success condition with the decoded text or result.
    // console.log(`Scan result: ${decodedText}`, decodedResult);
    // alert(`Scan result: ${decodedText}`);
    let res = JSON.parse(decodedText);

    let login = {
        "account": state.current_config.username,
        "credential": state.current_config.password, // XXX totp
        "credential_type" : 'password',
        "sid": res.sid,
        "nonce": res.nonce,
        "action": "confirm"
    };

    // Now, let the other end see that we've seen its QR code:
    response = fetch(res.target, {
        method: 'POST',
        cache: 'no-cache',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(login),
    })
    .then( (response) => response.json())
    .then( (data) => {
        // ...
        alert("Logged in?!");
    });
}


function init() {
    // These are for scheduling a data refresh in the case
    // where the page hasn't been shown for a while
    try {
        console.log(document.addEventListener('visibilityChange', handle_visibility_change));
    } catch(e) {
        console.log(e);
    }
    window.addEventListener('focus', handle_visibility_change);

    loadConfig().then(appState => {

        if( appState === null ) {
            // reset to default
            state = default_state;
            storeConfig(state);
        } else {

            // alert("set up state " + JSON.stringify(appState));
            state = appState;
        };
        //state = default_state;
    }).then(() => {
        console.log("Configuration loaded");
    });
}

/* Array deep clone */
const clone = (items) => items.map(
     item => Array.isArray(item)         ? clone(item)
           : typeof( item ) === 'object' ? Object.assign({}, item )
           : item);
</script>
</head>
<body onload="javascript:init()">
<div id="header"><a href="#" onclick="javascript:render_scan(state);">Scan QR code</a>
               | <a href="#" onclick="javascruot:render_config(state)">Config</a>
               | <a href="#" onclick="javascript:render_about(state);">About</a>
</div>
<div id="screen">
    <p>Javascript is not enabled?!</p>
    <p>I'm sorry, but this app doesn't make sense without Javascript.</p>
</div>
</body>
</html>
